name: build-attest

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: list files
        run: ls -la
      - name: Attest
        uses: actions/attest-sbom@v2
        with:
          subject-path: '${{ github.workspace }}'
          sbom-path: 'sbom.json'
